:root {
    --global-color-1: #ffffff;
    --global-color-2: #000000;
    --global-color-3: #F2B279;
    --global-color-4: #BFBFBF;
    --global-color-5: #FF8282;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main-content {
    width: 100%;
    height: 100%;
    background: url("./../resource/background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}


/* children of main-content */

.components {
    float: left;
    position: relative;
    height: 100%;
}


/* */


/* nach section */


/* */


/* teo section */


/* */


/* number display of time */

.label {
    color: var(--global-color-1);
    font-family: 'Tomorrow', sans-serif;
    text-align: center;
    opacity: 0.5;
    font-weight: bold;
}


/*  */

#clock>div {
    --rotation: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transition: 0.5s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%) rotate(calc(var(--rotation) * 1deg));
}

#clock>div>img {
    position: absolute;
    width: 100%;
    top: -14.5%;
    opacity: 0.5;
}

@media (min-width: 1176px) {
    #second,
    #minute,
    #hour {
        width: 300px;
        height: 300px;
    }

    #day {
        font-size: 60px;
    }
    
    #time {
        font-size: 20px;
    }
}

@media (min-width: 800px) and (max-width: 1175px) {
    #second,
    #minute,
    #hour {
        width: 200px;
        height: 200px;
    }

    #day {
        font-size: 40px;
    }
    
    #time {
        font-size: 13.33px;
    }
}

@media (min-width: 400px) and (max-width: 799px) {
    #second,
    #minute,
    #hour {
        width: 100px;
        height: 100px;
    }

    #day {
        font-size: 20px;
    }
    
    #time {
        font-size: 6.67px;
    }
}

@media screen and (orientation:landscape) {
    #nach,
    #teo {
        width: 33%;
    }
    #clock {
        width: 34%;
    }
}

@media screen and (orientation:portrait) {
    #nach,
    #teo {
        width: 0%;
    }
    #clock {
        width: 100%;
    }
}